.column {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.real-container {
  max-width: 700px;
  margin: auto;
}

.column-half,
.column-full {
  width: 100%;
}

.width-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.single-container,
.event-container {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: -11px;
  width: 100%;
  margin: auto;
  border-top: #bebebe solid 2px;
  background-color: white;
}

.nav-header {
  display: none;
}

.icon-caption {
  margin-top: 0.25rem;
  color: black;
}

.infoImage {
  width: 200px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .real-container,
  .event-container {
    max-width: 1400px;
    margin: auto;
    margin-top: 25px;
  }

  .single-container {
    font-family: 'Roboto', sans-serif;
    width: 700px;
    margin: auto;
    margin-top: 75px;
  }

  .column-half {
    padding: 1rem;
    width: 50%;
  }

  .wide-row {
    display: flex;
    flex-direction: row;
  }

  .margin-top {
    margin-top: 6rem;
  }

  .footer {
    display: none;
  }

  .nav-header {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    border-bottom: #bebebe solid 2px;
    background-color: white;
    padding-top: 10px;
  }

  .icon-container {
    margin: 0;
  }

  .icon-caption {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: black;
  }

  .infoImage {
    width: 300px;
    height: auto;
  }
}
