
.real-container {
  max-width: 700px;
  margin: auto;
}

.column-half,
.column-full {
  width: 100%;
}

.width-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.single-container,
.event-container {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .real-container,
  .event-container {
    max-width: 1400px;
    margin: auto;
  }

  .single-container {
    font-family: 'Roboto', sans-serif;
    width: 350px;
    margin: auto;
  }

  .column-half {
    padding: 1rem;
    width: 50%;
  }

  .wide-row {
    display: flex;
    flex-direction: row;
  }

  .margin-top {
    margin-top: 6rem;
  }
}
