.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: #bebebe solid 2px;
}

.row-33 {
  width: 33%;
}

.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.iconCaption {
  margin-top: 0.25rem;
  color: #48cae4;
}

.icon {
  margin-top: 1rem;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
}

input {
  margin-top: 0.25rem;
}

.search input {
  padding: 0.25rem;
  font-size: 1rem;
  width: 325px;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.container {
  width: 95%;
  margin: auto;
}

h2 {
  margin-bottom: 0.5rem;
}
